extends base

block content
    main.main
        div
            .activities
                h3
                    a(href='#')  Deregistration Matters 
                h3
                    a(href='#')  Discontinuation Matters 
                h3
                    a(href='#')  Repeat year 
                h3
                    a(href='/special')  Special Exams 
