extends base

block content
  ul1
    li
      a(href='/student-login') Student Login
    li
      a(href='/admin-login') Admin Login
    li
      a(href='/cod-login') CoD Login
    li
      a(href='/dean-login') Dean Login
    li
      a(href='/dvc-login') DVC Login  
    


