extends base 

block content
  main.main
    form.special
      form
        .info
          top
            h2 DEDAN KIMATHI UNIVERSITY OF TECHNOLOGY
          top
            h2 SCHOOL OF COMPUTER SCIENCE AND IT
          top
            h4 STUDENT SERVICE REQUEST FORM
          label DEPARTMENT:
          input(type='text' required='')
          label PROGRAMME:
          input(type='text' required='')
          label YEAR &amp; SEMESTER OF STUDY:
          input(type='text' required='')
      form
        div
          left
            h3 SPECIAL EXAMINATIONS REQUEST
          label
            | Grounds for Special Examinations e.g(Financial, Medical,
            | Compassionate, Any other):
          input(type='text' required='')
          label Year &amp; Semester for Ordinary Examinations:
          input(type='text' required='')
          label Month &amp; Year of Ordinary Examinations:
          input(type='text' required='')
      form
        left
          h3 INDICATE UNITS BELLOW &amp; CATS/ASSIGNMENTS
        table(style='width: 100%')
          tr
            th UNIT CODE
            th UNIT NAME
            th CATS/ASSIGNMENTS(e.g 2CATS, 2ASSIGN)
          tr
            td
              input(type='text' required='')
            td
              input(type='text' required='')
            td
              input(type='text' required='')
          tr
            td
              input(type='text')
            td
              input(type='text')
            td
              input(type='text')
          tr
            td
              input(type='text')
            td
              input(type='text')
            td
              input(type='text')
          tr
            td
              input(type='text')
            td
              input(type='text')
            td
              input(type='text')
          tr
            td
              input(type='text')
            td
              input(type='text')
            td
              input(type='text')
          tr
            td
              input(type='text')
            td
              input(type='text')
            td
              input(type='text')
          tr
            td
              input(type='text')
            td
              input(type='text')
            td
              input(type='text')
          tr
            td
              input(type='text')
            td
              input(type='text')
            td
              input(type='text')
          tr
            td
              input(type='text')
            td
              input(type='text')
            td
              input(type='text')
        .form__group
          button.btn.btn--green Submit