extends base 

block content
  main.main
    h1 DEDAN KIMATHI UNIVERSITY
    h2 SCHOOL OF COMPUTER SCIENCE AND IT
    h3 STUDENT SERVICE REQUEST FORM
    div
    .form.special-form
      form.form.form--special
        .content
          table
            h4 SECTION A: APPLICANT'S IDENTIFICATION DETAILS.
              tr
                th Name
                th RegNo
                th Session(eg May-August 2022)
                th Type of Sponsorship(Gok/SSP)
                th Phone No.
              tr
                td
                  input#name(type='text' required='')
                td
                  input#regNo(type='text' required='')
                td
                  input#session(type='text' required='')
                td
                  input#sponsorship(type='text' required='')
                td
                  input#phone(type='text' required='')
          table
            h4 SECTION B: SPECIAL EXAMINATION REQUEST
            tr
              th GROUNDS FOR SPECIAL EXAMINATION(financial, medical, Conpassionate)
              th Year and Sem for Ordidnary Exam
              th Month and Year of Ordinary Exam(Dec 2022)
            tr
              td
                input#grounds(type='text' required='')
              td
                input#yearSem(type='text' required='')
              td
                input#monthYear(type='text' required='')
          table#myTable
            
            h4 SECTION C: INDICATE UNITS BELOW AND CATS/ASSIGNMENTS DONE.
            tr
              th UNIT CODE
              th UNIT NAME
              th CATS/ASSIGNMENTS(1 CAT, 2 ASSIGN)
            tr
              td
                input#unitCode(type='text' required='')
              td
                input#unitName(type='text' required='')
              td
                input#catsAssgnDone(type='text' required='')
                
          button3#addRowBtn Add Row


                
          .form__group
            button.btn.btn--green Submit
