extends base

block content
  .form.admin-form
    form.form.form--admin
      .content
        each special in x
          table
            thead 
            tr
              th Id
              th name
              th regNo
              th matter
              th Grounds
            tbody 
            tr
              td #{special._id}
              td #{special.name}
              td #{special.regNo}
              td 
                input#matter(type='text' required='')
              td #{special.grounds}
              
        .form__group
            button.btn.btn--green Submit


    