extends base

block content
    thead
     tr
      th RegNo
      th Name
      th Request 
        
    tbody 
    if Exam
    each Exam in exams
      tr
       td #{Exam.regNo}
       td #{Exam.unitCode}
       td #{Exam.unitName}
        