extends base 

block content
  main.main
    .special-form
      h2.heading-secondary.ma-bt-lg DEDAN KIMATHI UNIVERSITY OF TECHNOLOGY
      h2.heading-secondary.ma-bt-lg SCHOOL OF COMPUTER SCIENCE AND IT
      h4.STUDENT SERVICE REQUEST FORM
      form.form.form--special
        label RegNo:
        input#regNo.form__input(type='text' required='')
        label DEPARTMENT:
        input#department.form__input(type='text' required='')
        label PROGRAMME:
        input#programme.form__input(type='text' required='')
        label YEAR &amp; SEMESTER OF STUDY:
        input#year.form__input(type='text' required='')
        left
          h3 SPECIAL EXAMINATIONS RREQUEST
        label
          | Grounds for Special Examinations e.g(Financial, Medical,
          | Compassionate, Any other):
        input#grounds.form__input(type='text' required='')
        label Year &amp; Semester for Ordinary Examinations:
        input#yearSemExamTime.form__input(type='text' required='')
        label Month &amp; Year of Ordinary Examinations:
        input#monthYearOfExam.form__input(type='text' required='')
        
        left
          h3 INDICATE UNITS BELLOW &amp; CATS/ASSIGNMENTS
        table(style='width: 100%')
          tr
            th UNIT CODE
            th UNIT NAME
            th CATS/ASSIGNMENTS(e.g 2CATS, 2ASSIGN)
          tr
            td
              input#unitCode(type='text' required='')
            td
              input#unitName(type='text' required='')
            td
              input#catsAssgnDone(type='text' required='')
          
        .form__group
          button.btn.btn--green Submit
